.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-decoration: none;
    z-index: 2;
    width: 100%;
    max-width: 1184px;
}

.cover__link::before {
    content: " ";
    opacity: 0.3;
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover__link:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .cover__link {
        gap: 16px;
    }
    
}