.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-decoration: none;
    /* aspect-ratio: 8/5; */
    z-index: 2;
    width: 100%;
    max-width: 1184px;
}

.cover__link:hover::before {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .cover__link:active {
    background: #2A2C2F;
    opacity: 0.3;
} */

@media screen and (max-width: 320px) {
    .cover__link {
        gap: 16px;
    }
    
}