.place__title {
    margin: 0;
    /* font-family: 'Inter'; */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    max-width: 100%;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: calc( (100vw - 768px)/(1023 - 768) * (72 - 42) + 42px);
        line-height: calc( (100vw - 768px)/(1023 - 768) * (76 - 46) + 46px);
    }
    
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: calc( (100vw - 320px)/(767 - 320) * (42 - 32) + 32px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (46 - 35) + 35px);
    }
   
}

@media screen and (max-width: 644px) {
    .place__title {
        align-self: flex-start;
        margin-left: calc( (100vw - 320px)/(644 - 320) * (0 - 16) + 16px);
    }
}

