.place__image {
    max-width: 460px;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1279px) {
    .place__image {
        width: calc( (100vw - 1024px)/(1279 - 1024) * (460 - 440) + 440px); 
    }
    
}

@media screen and (max-width: 1023px) {
    .place__image {
        width: calc( (100vw - 768px)/(1023 - 768) * (440 - 340) + 340px); 
    }
    
}

@media screen and (max-width: 767px) {
    .place__image {
        width: calc( (100vw - 320px)/(767 - 320) * (340 - 320) + 320px); 
    }
   
}