.intro__lists {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
    .intro__lists {
        margin-bottom: calc( (100vw - 768px) / (1023 - 768) * (92 - 88) + 88px);
    }
}

@media screen and (max-width: 767px) {
    .intro__lists {
        margin-bottom: calc( (100vw - 320px) / (767 - 320) * (88 - 64) + 64px);
    }
}