.intro__list {
    max-width: 100%;
    margin: 0;
    /* font-family: 'Inter'; */
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}