.lead {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: calc( (100vw - 1024px)/(1279 - 1024) * (984 - 928) + 928px);
    }
    
}

/* @media screen and (max-width:1023px) {
    .lead {
        width: calc( (100vw - 768px)/(1023 - 768) * (928 - 768) + 768px);
    }
}

@media screen and (max-width:767px) {
    .lead {
        width: calc( (100vw - 424px)/(767 - 424) * (768 - 424) + 424px);
    }
}  */

 /* @media screen and (max-width:423px) {
    .lead {
        width: calc( (100vw - 320px)/(423 - 320) * (423 - 320) + 320px);
    }
} */