.lead {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .lead {
        width: calc( (100vw - 1024px)/(1280 - 1024) * (984 - 928) + 928px);
    }
    
}

@media screen and (width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .lead {
        width: calc( (100vw - 768px)/(1024 - 768) * (928 - 768) + 768px);
    }
}

@media screen and (width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (min-width: 424px) and (max-width:768px) {
    .lead {
        width: calc( (100vw - 424px)/(768 - 424) * (768 - 424) + 424px);
    }
}


@media screen and (width: 424px) {
    .lead__image {
        max-width: 424px;
    }
}

@media screen and (min-width: 320px) and (max-width:424px) {
    .lead__image {
        width: calc( (100vw - 320px)/(424 - 320) * (424 - 320) + 320px);
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}