.lead {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: calc( (100vw - 1024px)/(1279 - 1024) * (984 - 928) + 928px);
    }
    
}