.header__logo {
    max-width: 176px;
    height: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__logo {
        max-width: calc( (100vw - 320px)/(768 - 320) * (176 - 142) + 142px);
    }
    
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
        height: 42px;
    }
    
}