.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 0 56px;
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1184px;
}

@media screen and (max-width: 1279px) {
    .header {
        width: calc( (100vw - 1024px)/(1279 - 1024) * (1184 - 928) + 928px);
        padding-bottom: calc( (100vw - 1024px)/(1279 - 1024) * (56 - 48) + 48px);
    }
    
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc( (100vw - 768px)/(1023 - 768) * (928 - 720) + 720px);
    }
    
}

@media screen and (max-width: 767px) {
    .header {
        width: calc( (100vw - 320px)/(767 - 320) * (720 - 288) + 288px);
        padding-top: calc( (100vw - 320px)/(767 - 320) * (28 - 16) + 16px);
    }
    
}


