.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 0 56px;
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1184px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header {
        width: calc( (100vw - 1024px)/(1280 - 1024) * (1184 - 928) + 928px);
    }
    
}

@media screen and (width: 1024px) {
    .header {
        max-width: 928px;
        padding: 28px 0 48px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        width: calc( (100vw - 768px)/(1024 - 768) * (928 - 720) + 720px);
        padding: 28px 0 48px;
    }
    
}

@media screen and (width: 768px) {
    .header {
        max-width: 720px;
        padding: 28px 0 48px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        width: calc( (100vw - 320px)/(768 - 320) * (720 - 288) + 288px);
        min-width: 288px;
        padding: 16px 0 48px;
    }
    
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding: 16px 0 48px;
    }
    
}


