.lead__title {
    max-width: 720px;
    margin: 0 0 32px;
    /* font-family: 'Inter'; */
    font-family: 'Inter', 'Helvetica', 'Neue',  'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: calc( (100vw - 320px)/(767 - 320) * (96 - 40) + 40px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (100 - 44) + 44px);
        margin-bottom: calc( (100vw - 320px)/(767 - 320) * (32 - 16) + 16px);
        width: calc( (100vw - 320px)/(767 - 320) * (720 - 288) + 288px);
    }
    
}
