.place__paragraph {
    margin: 0;
    /* font-family: 'Inter'; */
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__paragraph { 
        font-size: calc( (100vw - 768px)/(1024 - 768) * (18 - 16) + 16px);
    }
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
   
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
    }
    
}