.place__paragraph {
    margin: 0;
    /* font-family: 'Inter'; */
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
}


@media screen and (max-width: 1023px) {
    .place__paragraph { 
        font-size: calc( (100vw - 768px)/(1023 - 768) * (18 - 16) + 16px);
    }
    
}