.intro__text {
    width: 100%;
    margin: 0 0 33px;
    /* font-family: 'Inter'; */
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #ffff;
}

@media screen and (max-width: 767px) {
    .intro__text {
        margin-bottom: 34px;
    }
    
}
