.intro {
    max-width: 690px;
    margin-left: 148px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: calc( (100vw - 1024px) / (1279 - 1024) * (148 - 48) + 48px);
    }
    
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-left: calc( (100vw - 768px) / (1023 - 768) * (48 - 24) + 24px);
        width: calc( (100vw - 768px) / (1023 - 768) * (690 - 720) + 720px);
    }
    
}

@media screen and (max-width: 767px) {
    .intro {
        margin-left: calc( (100vw - 320px) / (767 - 320) * (24 - 16) + 16px);
        width: calc( (100vw - 320px) / (767 - 320) * (720 - 288) + 288px);
    }
    
}