.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1184px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740/1184 * 100%);
}

