.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 8/5;
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
    position: relative;
}

.cover::before {
    content: " ";
    opacity: 0.3;
    background-color: #2A2C2F;
    position: absolute;
    width: 100%;
    height: 100%;

}

.cover:hover::before {
    opacity: 0.8;
  }

@media screen and (max-width: 767px) {
    .cover {
        gap: 16px;
    }
    
}