.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 740px;
    width: 92.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .cover {
        min-height: calc( (100vw - 1024px)/(1280 - 1024) * (720 - 640) + 640px);
        width: calc( (100vw - 1024px)/(1280 - 1024) * (1184 - 1024) + 1024px);
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover {
        min-height: calc( (100vw - 768px)/(1024 - 768) * (640 - 480) + 480px);
        width: 100%;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .cover {
        min-height: calc( (100vw - 320px)/(768 - 320) * (480 - 200) + 200px);
        width: 100%;
        gap: calc( (100vw - 320px)/(768 - 320) * (32 - 16) + 16px);
    }
    
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        min-height: 200px;
        gap: 16px;
    }
}