.cover__title {
    margin: 0;
    max-width: 560px;
    /* font-family: 'Inter' ; */
    font-family: 'Inter', 'Helvetica', 'Neue',  'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: calc( (100vw - 320px)/(767 - 320) * (72 - 32) + 32px);
        line-height: calc( (100vw - 320px)/(767 - 320) * (76 - 35) + 35px);
        width: calc( (100vw - 320px)/(767 - 320) * (560 - 288) + 288px);
    }
    
}