.footer {
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 92px 0 24px;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: calc( (100vw - 1024px)/(1279 - 1024) * (1184 - 928) + 928px);
    }
    
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc( (100vw - 768px)/(1023 - 768) * (928 - 720) + 720px);
        padding-top: calc( (100vw - 768px)/(1024 - 768) * (92 - 88) + 88px);
    }
    
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc( (100vw - 320px)/(767 - 320) * (720 - 288) + 288px);
        padding-top: calc( (100vw - 320px)/(767 - 320) * (88 - 64) + 64px);
    }
    
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
    }
    
}