.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width: 644px) {
    .place__website {
        /* width: calc( (100vw - 320px)/(644 - 320) * (582 - 288) + 288px); */
        align-self: flex-start;
        margin-left: calc( (100vw - 320px)/(644 - 320) * (0 - 16) + 16px);
    }
}