.intro__title {
    max-width: 690px;
    margin: 92px 0 40px;
    /* font-family: 'Inter'; */
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    grid-column: 1/-1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__title {
        margin-top: calc( (100vw - 768px) / (1024 - 768) * (92 - 88) + 88px);
        width: calc( (100vw - 768px) / (1024 - 768) * (690 - 720) + 720px);
    }
    
}

@media screen and (width: 768px) {
    .intro__title {
        margin-top: 110px;
        max-width: 720px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .intro__title {
        font-size: calc( (100vw - 320px) / (768 - 320) * (54 - 32) + 32px);
        line-height: calc( (100vw - 320px) / (768 - 320) * (58 - 35) + 35px);
        width: calc( (100vw - 320px) / (768 - 320) * (720 - 288) + 288px);
        margin-top: calc( (100vw - 320px) / (768 - 320) * (88 - 64) + 64px);
    }
    
}

@media screen and (width: 320px) {
    .intro__title {
        margin-top: 64px;
        margin-bottom: 40px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    
}
