.intro__title {
    width: 100%;
    margin: 92px 0 40px;
    /* font-family: 'Inter'; */
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        margin-top: calc( (100vw - 768px) / (1023 - 768) * (92 - 88) + 88px);
    }
    
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: calc( (100vw - 320px) / (767 - 320) * (54 - 32) + 32px);
        line-height: calc( (100vw - 320px) / (767 - 320) * (58 - 35) + 35px);
        margin-top: calc( (100vw - 320px) / (767 - 320) * (88 - 64) + 64px);
    }
    
}